{{> menu}}

<section class="ui center segment">
    {{#with info}}
        <h1 class="title centered">Welcome to {{appTitle}}, {{fullname}} !</h1>
        <h2 class="centered">A long time ago in a galaxy far, far away....</h2>
        <p class="centered">
            Board on your X-70B Phantom to learn everything about the Old Republic.
        </p>

        <h2 class="centered">Information for the professor:</h2>
        <pre class="centered">
            As the passwords are encrypted using SHA256 algorithm, you won't be able to see the passwords.
            I already created some tests accounts with some characters inside:
            Mail: t@gmail.com Password: test123
            Mail: t2@gmail.com Password: test123
        </pre>
        <img src="../assets/star_wars.webp" class="centered header littleImage" alt="Star wars decorative image">
        <p class="centered">{{information}}</p>
    {{/with}}
    <h1 class="title centered">All the users created...</h1>
    <div class="fields">
        <div class="field">
            <h3>Dark side characters</h3>
            <img src="../assets/logo_small/small_dark.webp" alt="Dark logo" width="50%" height="50%" class="centered">
            <p class="centered">{{nbrDarkPeople}}</p>
        </div>
        <div class="field">
            <h3>Light side characters</h3>
            <img src="../assets/logo_small/small_light.webp" alt="Light logo" width="50%" height="50%" class="centered">
            <p class="centered">{{nbrLightPeople}}</p>
        </div>
    </div>
    <div class="fields">
        <div class="fields">
            <div class="field">
                <h3 class="centered">Total characters</h3>
                <img src="../assets/logo_small/total.svg" alt="Total logo" width="50%" height="50%" class="centered">
                <p class="centered">{{sumNumbers nbrDarkPeople nbrLightPeople}}</p>
            </div>
            <div class="field">
                <h3 class="centered">Average biography length</h3>
                <img src="../assets/logo_small/average.svg" alt="Average logo" width="50%" height="50%" class="centered">
                <p class="centered">{{averageBiography}}</p>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <h3 class="centered">Lowest biography length</h3>
                <img src="../assets/logo_small/small.svg" alt="Small logo" width="50%" height="50%" class="centered">
                <p class="centered">{{lowestBiography}}</p>
            </div>
            <div class="field">
                <h3 class="centered">Largest biography length</h3>
                <img src="../assets/logo_small/medium.svg" alt="Largest logo" width="50%" height="50%" class="centered svg">
                <p class="centered">{{largestBiography}}</p>
            </div>
        </div>
    </div>



</section>